<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput name="email" ngModel type="email" placeholder="email" #emailInput="ngModel" required email/>
      <mat-error *ngIf="emailInput.invalid">please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" name="password" ngModel #passwordInput="ngModel" required matInput placeholder="password">
      <mat-error *ngIf="passwordInput.invalid">please enter a valid password.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">
      Signup
    </button>
  </form>
</mat-card>
